{% extends "base.html" %}


{% block body_block %}

<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">

<form class="form-signin" role="form" method="post" action=".">
{% csrf_token %}

<h2 class="form-signin-heading">Change Password</h2>

<input type="password" class="form-control" placeholder="Old Password" id="id_old_password" name="old_password" type="password" required />
<input type="password" class="form-control" placeholder="New Password" id="id_new_password1" name="new_password1" type="password" required />
<input type="password" class="form-control" placeholder="New Password" id="id_new_password2" name="new_password2" type="password" required />
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Submit" />Change</button>
        </form>

{% endblock %}


